*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOPBAR */

.topbar{
    background-color: #ffffff;
    padding: 5px;
    display: flex;
}

#home-icon{
    width: 24px;
    height: 24px;
    margin-left: 50px;
    margin-top: 5px;
}

.top-menu-oge{
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left:   5px;
    font-family: "Space Grotesk", sans-serif;
    border-right: 1px solid #ccc;
    font-weight: 500;
}
 .top-menu-oge:last-child{
  border-right: none;

}

/* NAVBAR */


.navbar{
    background-color: #54a7b0;
    display: flex;
    position: sticky;
    top:0px;
    height: 70px;
}

#logo{
    width: 188px;
    height: 50px;
    margin: 10px 0 0 40px;
}

.menu-oge{
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px 15px 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: white;
}

/* CONTENT */

.komsu-img{
    width: 400px;
    height: auto;
}

.content{
    display: flex;
    margin-top: 30px;
}

body{
    font-family:"Space Grotesk", sans-serif;
}
